.navigation-header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: #1760b0;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;

  &__content {
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    padding-top: 14px;
    text-align: center;
  }
}
